/* Analytics Styles */
.analytics .charts {
    display: flex;
    gap: 20px;
  }
  
  .analytics .chart-item {
    width: 30%;
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 8px;
  }
  
  .analytics .chart-item h2 {
    margin: 0;
  }
  
  .analytics .chart {
    height: 200px;
    background-color: #bdc3c7;
    margin-top: 20px;
  }
  